# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.idb
*.pdb
*.tlog
*.suo
MoneyRay/MoneyRay.sdf
*.sdf
MoneyRay/MoneyRay.sdf
*.cso
/MoneyRay/Debug
/MoneyRay/Test/content
/MoneyRay/Test/Debug
/MoneyRay/Test/Release
/MoneyRay/Test/bricks.tga
/MoneyRay/Test/CConfig.h
/MoneyRay/Test/vmath.h
/MoneyRay/Test/CGlobalInclude.h
/MoneyRay/Test/CMRApplication.h
/MoneyRay/Test/CMRCamera.h
/MoneyRay/Test/CMRImageLoader.h
/MoneyRay/Test/CMRMesh.h
/MoneyRay/Test/CMRImage.h
/MoneyRay/Test
/MoneyRay/MoneyRay.VC.db
